{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>{% if is_editing %}Edit{% else %}Create{% endif %} Car</h2>
  <form id="task-form" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
      <div class="row">
          <div class="col-md-6">
              <div class="mb-3">
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
              <div class="mb-3">
                  {{ form.date_of_purchase.errors }}
                {{ form.date_of_purchase.label_tag }}
                {{ form.date_of_purchase }}
              </div>
              <div class="mb-3">
                  {{ form.state_number.errors }}
                {{ form.state_number.label_tag }}
                {{ form.state_number }}
              </div>
              <div class="mb-3">
                  {{ form.car_mileage.errors }}
                {{ form.car_mileage.label_tag }}
                {{ form.car_mileage }}
              </div>
              <div class="mb-3" id="photo_file_card">
                  {{ form.car_photo.errors }}
                {{ form.car_photo.label_tag }}
                {{ form.car_photo }}
              </div>
          </div>
          <div class="col-md-6">
            <div class="col-md-4" id="service_photo_card" style="display: none">
                <div class="card mb-2" style="width: 18rem;">
                <img id="service_photo_file" src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    
                </div>
            </div>
              
          </div>
          
      </div>
    

    <button type="submit" class="btn btn-primary">{% if is_editing %}Edit{% else %}Create{% endif %}</button>
      <a href="{% url 'garage_list' %}" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}
{% block js %}
    <script>
$(document).ready(function() {
    // Получаем URL текущего изображения
    var currentImageUrl = $('#photo_file_card a').attr('href');
    if (currentImageUrl) {
        // Если URL существует
        // Отображаем карточку с изображением и устанавливаем URL изображения
        $('#service_photo_card').show();
        $('#service_photo_file').attr('src', currentImageUrl);
    }
});

$(document).ready(function() {
    // Функция для чтения и отображения выбранного изображения
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#service_photo_file').attr('src', e.target.result);
                $('#service_photo_card').show();  // Показываем карточку с изображением
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Добавляем обработчик событий для поля загрузки файла
    $('#id_car_photo').change(function() {
        readURL(this);
    });
});
    </script>
    
{% endblock %}