{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">
    <div class="container mb-3"><a href="{% url 'car_create' %}" class="btn btn-primary">Add car</a></div>
        {% include 'partials/pagination.html' %}
        {% for car in object_list %}
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card mb-2" style="width: 18rem;">
                    {% if car.car_photo %}
                        <img src="{{ car.car_photo.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ car.title }}</h5>
                        <p class="card-text">Date of purchase - {{ car.date_of_purchase }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Number - {{ car.state_number }}</li>
                        <li class="list-group-item">Car mileage - {{ car.car_mileage }} km</li>
                        <li class="list-group-item">edited - {{ car.edited_at }}</li>
                    </ul>
                <div class="card-body">
                     <a href="{% url 'car_history_list' %}?car_id={{ car.id }}" class="btn btn-info">History</a>
                    <button type="button" class="btn btn-success position-relative">
                            <a style="text-decoration: none; color: white" href="{% url 'notifications_list' %}?car_id={{ car.id }}">Notifications</a>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                             {{ car.unread_notifications_count }}
                            <span class="visually-hidden">notifications</span>
                            </span>
                        </button>

                </div>
                    <div class="card-body">
                        <a href="{% url 'car_edit' car.id %}" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-danger deleteButton" data-bs-toggle="modal"
                                data-bs-target="#deleteModal" data-car-id="{{ car.id }}">
                            Delete
                        </button>

                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this car?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="" class="btn btn-primary" id="confirmDelete">Delete</a>
                </div>
            </div>
        </div>
    </div>


    {% block js %}
        <!-- jQuery to handle the delete confirmation -->
        <script>
            $(document).ready(function () {
                $('.deleteButton').on('click', function () {
                    console.log("Delete button clicked");

                    var carId = $(this).data('car-id');
                    var url = "/garage/car/" + carId + "/delete/";
                    console.log("Delete URL: ", url);
                    $('#confirmDelete').attr('href', url);
                });
            });
        </script>
    {% endblock %}

{% endblock %}
