{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Car Mileage History</h2>
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1&car_id={{ car_id }}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&car_id={{ car_id }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}&car_id={{ car_id }}">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&car_id={{ car_id }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&car_id={{ car_id }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Car Mileage</th>
                <th scope="col">Created At</th>
                <th scope="col">Service</th>
                <th scope="col">Car</th>
                <th scope="col">is_deleted</th>
            </tr>
        </thead>
        <tbody>
            {% for history in car_mileage_history %}
            <tr>
                <td>{{ history.car_mileage }}</td>
                <td>{{ history.created_at }}</td>
                <td>{{ history.parent_object }}</td>
                <td>{{ history.car }}</td>
            <td>{% if history.is_deleted %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}