{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="card col-md-6 " style="width: 18rem;">
        {% if service.photo %}
            <img src="{{ service.photo.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'images/def_service_icon.png' %}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ service.title }}</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Car name: {{ service.car }}</li>
            <li class="list-group-item">Car mileage: {{ service.car_mileage }} km</li>
            <li class="list-group-item">Part Number №: {{ service.part_title }}</li>
            <li class="list-group-item">Part cost: {{ service.part_cost }}</li>
            <li class="list-group-item">Cost of work: {{ service.cost_of_work }}</li>
            <li class="list-group-item">Total price: {{ service.total_price }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'service_update' service.id %}" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal" data-car-id="{{ service.id }}">
  Delete
</button>
        </div>
    </div>
<div class="col-md-1"></div>
<div class="card col-md-6" style="max-height: 200px; overflow-y: auto;">
            <div class="card-body">
            <h5 class="card-title">Comment</h5>
            <p class="card-text">{{ service.comment }}</p>
        </div>
</div>
</div>
    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="" class="btn btn-primary" id="confirmDelete">Delete</a>

      </div>
    </div>
  </div>
</div>
     {% block js %}
    <!-- jQuery to handle the delete confirmation -->
<script>
$(document).ready(function(){
  $('.deleteButton').on('click', function(){
       console.log("Delete button clicked");

        var carId = $(this).data('car-id');
        var url = "/services/delete/" + carId;
        console.log("Delete URL: ", url);
        $('#confirmDelete').attr('href', url);
  });
});
</script>
    {% endblock %}

{% endblock %}