{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mb-3">
<div class="col-md-2 mb-2"><a href="{% url 'service_create' %}" class="btn btn-primary">Add service</a></div>
            <div class="col-md-4">
            <form method="get" class="row">
                <div class="col-md-5 mb-2">
                    <select name="car_id" class="form-select" onchange="this.form.submit()">
                        <option value="">Choice Car</option>
                        {% for car in cars %}
                            <option value="{{ car.id }}"
                                    {% if car.id == selected_car_id %}selected{% endif %}>{{ car }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <input class="btn btn-success" type="submit" value="Reset" onclick="this.form.car_id.value=''">
                </div>
            </form>
        </div>
    </div>
     {% include 'partials/pagination.html' %}
    <div class="row">
{% for service in object_list %}

    <div class="col-md-4">
    <div class="card md-3">

  <div class="card-header">

                     {% if service.service_type %}
            <img src="{{ service.service_type.icon.url }}" class="card-img-top" style="width: 30%" alt="...">
                    {% else %}
                    <img src="{% static 'images/def_service_icon.png' %}" class="card-img-top" style="width: 30%" alt="...">
        {% endif %}
   {{ service.title }}
  </div>

  <div class="card-body">
    <h5 class="card-title">Car name: {{ service.car }}</h5>
    <p class="card-text">{{ service.comment|slice:':30' }}</p>
    <p class="card-text">created_at - {{ service.created_at }}</p>
    <a href="{% url 'service_detail' service.id %}" class="btn btn-primary">More info</a>
  </div>
</div>
    </div>


{% endfor %}
    </div>
{% endblock %}