{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>{% if is_editing %}Edit{% else %}Create{% endif %} service</h2>
  <form id="task-form" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
   <div class="row">
       <div class="col-md-4">
            <div class="mb-3">
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="mb-3 row">
                <div class="col">
                {{ form.service_type.errors }}
                {{ form.service_type.label_tag }}
                {{ form.service_type }}</div>
                <div class="col-6">
                <img id="service-icon" src="{% static 'images/icon-car-engine.png' %}" alt="Service Icon" style="width: 35%"></div>
            </div>
            <div class="mb-3">
                {{ form.car.errors }}
                {{ form.car.label_tag }}
                {{ form.car }}
            </div>
           <div class="mb-3">
                {{ form.car_mileage.errors }}
                {{ form.car_mileage.label_tag }}
                {{ form.car_mileage }}
            </div>
            <div class="mb-3">
                {{ form.part_title.errors }}
                {{ form.part_title.label_tag }}
                {{ form.part_title }}
            </div>
               <div class="mb-3">
                {{ form.part_cost.errors }}
                {{ form.part_cost.label_tag }}
                {{ form.part_cost }}
            </div>
                          <div class="mb-3">
                {{ form.cost_of_work.errors }}
                {{ form.cost_of_work.label_tag }}
                {{ form.cost_of_work }}
            </div>
                           <div class="mb-3">
                {{ form.total_price.errors }}
                {{ form.total_price.label_tag }}
                {{ form.total_price }}
            </div>
       </div>
       <div class="col-md-3">
           <div class="col-md-4" id="car_card" style="display: none">
                <div class="card mb-2" style="width: 18rem;">
                        <img id="car_photo" src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="car_title"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" >Number - <span id="car_state_number"></span></li>
                        <li class="list-group-item">Car mileage - <span id="car_car_mileage"></span></li>
                    </ul>
                </div>
            </div>
       </div>
       <div class="col-md-5">
            <div class="mb-3">
                {{ form.comment.errors }}
                {{ form.comment.label_tag }}
                {{ form.comment }}
            </div>
            <div class="mb-3" id="photo_file_card">
                {{ form.photo.errors }}
                {{ form.photo.label_tag }}
                {{ form.photo }}
            </div>
            <div class="col-md-4" id="service_photo_card" style="display: none">
                <div class="card mb-2" style="width: 18rem;">
                        <img id="service_photo_file" src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    
                </div>
            </div>
       </div>
   </div>

    <button type="submit" class="btn btn-primary">{% if is_editing %}Edit{% else %}Create{% endif %}</button>
      <a href="{% url 'services_list' %}" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}
{% block js %}
    <script >
        $(document).ready(function() {
    var serviceTypes = JSON.parse('{{ service_types|escapejs|safe }}');
    function updateIcon() {
        var selectedServiceType = $("#id_service_type").val();
        var serviceType = serviceTypes.find(function(serviceType) {
            return serviceType.id == selectedServiceType;
        });
        if (serviceType) {
            var iconUrl = '/uploads/' + serviceType.icon;  // Добавляем начальный путь /uploads/
            $('#service-icon').attr('src', iconUrl);
        }
    }

    $('#id_service_type').change(updateIcon);

    // Обновляем иконку при загрузке страницы
    updateIcon();
});
$(document).ready(function() {
    var cars = JSON.parse('{{ cars|escapejs|safe }}');
    function updateCarCard() {
        var selectedCar = $("#id_car").val();
        var car = cars.find(function(car) {
            return car.id == selectedCar;
        });
        if (car) {
            $('#car_card').show();
            $('#car_photo').attr('src', car.car_photo);
            $('#car_title').text(car.title);
            $('#car_state_number').text(car.state_number);
            $('#car_car_mileage').text(car.car_mileage);
        } else {
            $('#car_card').hide();
        }
    }

    $('#id_car').change(updateCarCard);

    // Обновляем карточку автомобиля при загрузке страницы
    updateCarCard();
});
$(document).ready(function() {
    // Функция для обновления общей стоимости
    function updateTotalPrice() {
        var partCost = parseFloat($('#id_part_cost').val()) || 0;  // Получаем стоимость детали или 0, если поле пустое
        var costOfWork = parseFloat($('#id_cost_of_work').val()) || 0;  // Получаем стоимость работы или 0, если поле пустое
        var totalPrice = partCost + costOfWork;  // Суммируем стоимость детали и работы
        $('#id_total_price').val(totalPrice.toFixed(2));  // Обновляем общую стоимость с округлением до 2 знаков после запятой
    }

    // Добавляем обработчики событий для полей стоимости детали и работы
    $('#id_part_cost, #id_cost_of_work').change(updateTotalPrice);

    // Обновляем общую стоимость при загрузке страницы
    updateTotalPrice();
});
$(document).ready(function() {
    // Получаем URL текущего изображения
    var currentImageUrl = $('#photo_file_card a').attr('href');
    if (currentImageUrl) {
        // Если URL существует
        // Отображаем карточку с изображением и устанавливаем URL изображения
        $('#service_photo_card').show();
        $('#service_photo_file').attr('src', currentImageUrl);
    }
});

$(document).ready(function() {
    // Функция для чтения и отображения выбранного изображения
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#service_photo_file').attr('src', e.target.result);
                $('#service_photo_card').show();  // Показываем карточку с изображением
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // Добавляем обработчик событий для поля загрузки файла
    $('#id_photo').change(function() {
        readURL(this);
    });
});

$(document).ready(function() {
    // Функция для проверки значения пробега
    function checkMileage() {
        var carMileage = parseInt($('#id_car_mileage').val());
        var carCarMileage = parseInt($('#car_car_mileage').text());

        if (carMileage < carCarMileage) {
            alert('The mileage cannot be less than the current mileage of the car!');
            $('#id_car_mileage').val(carCarMileage);
        }
    }

    // Проверяем значение пробега, когда поле теряет фокус, только если текст кнопки отправки формы равен "Create"
    $('#id_car_mileage').on('blur', function() {
        if ($('button[type="submit"]').text() === "Create") {
            checkMileage();
        }
    });
});
</script>
    {% endblock %}