{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home_page' %}">Service Book
            <img src="{% static 'images/icon-engineering.png' %}"
                 alt="" height="75">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                                        href="{% url 'home_page' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'garage_list' %}">My
                        garage</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="{% url 'services_list' %}">Service</a>
                    </li>

                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="{% url 'notifications_list' %}">Notifications</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="{% url 'fuel_list' %}">Fuel</a>
                    </li> {% endif %}
            </ul>
        </div>
        {% if request.user.is_authenticated %}
            <div class="dropdown m-lg-3">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img src="{% static 'images/notification-svgrepo-com.svg' %}" alt="" width="30" height="24">
                    {% if reminders.count > 0 %}
                        <span class="badge bg-danger">{{ reminders.count }}</span>
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for reminder in reminders %}
                        <li><a class="dropdown-item"
                               href="{% url 'notifications_detail' reminder.id %}">{{ reminder.title }}
                            - {{ reminder.car }}</a></li>
                    {% empty %}
                        <li><a class="dropdown-item" href="#">No notifications</a></li>
                    {% endfor %}
                </ul>
            </div>{% endif %}

        <div class="d-flex"> {% if not request.user.is_authenticated %}
            <a class="btn btn-outline-success btn-sm me-3" aria-current="page"
               href="{% url 'login' %}?next={{ request.get_full_path }}">Login
            </a>
            <a class="btn btn-outline-secondary btn-sm" aria-current="page"
               href="{% url 'register' %}?next={{ request.get_full_path }}">Register
            </a>
        {% else %}
            <div class="d-flex align-items-center me-3">Hello,
                <a href="{% url 'user_detail' user.pk %}"> {{ user.username }}
                </a>!
            </div>
            <a class="btn btn-outline-danger btn-sm" aria-current="page"
               href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout
            </a>
        {% endif %}
        </div>
    </div>
</nav>