
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>{% if is_editing %}Edit{% else %}Create{% endif %} Notification</h2>
  <form id="task-form" method="post" enctype="multipart/form-data" style="width: 100%;">
    {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="mb-3 row">
                <div class="col">
                {{ form.service_type.errors }}
                {{ form.service_type.label_tag }}
                {{ form.service_type }}</div>
                <div class="col-6">
                <img id="service-icon" src="{% static 'images/icon-car-engine.png' %}" alt="Service Icon" style="width: 35%"></div>
            </div>
            <div class="mb-3">
                {{ form.car.errors }}
                {{ form.car.label_tag }}
                {{ form.car }}
            </div>
            <div class="mb-3">
                {{ form.car_mileage_notifications.errors }}
                {{ form.car_mileage_notifications.label_tag }}
                {{ form.car_mileage_notifications }}
            </div>
            <div class="form-check form-switch d-flex flex-row-reverse justify-content-between">
                {{ form.is_active.errors }}
                {{ form.is_active }}
                {{ form.is_active.label_tag }}
            </div>
        </div>
          <div class="col-md-3">
             <div class="col-md-4" id="car_card" style="display: none">
                <div class="card mb-2" style="width: 18rem;">
                        <img id="car_photo" src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="car_title"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" >Number - <span id="car_state_number"></span></li>
                        <li class="list-group-item">Car mileage - <span id="car_car_mileage"></span></li>
                    </ul>
                </div>
            </div>
          </div>
        <div class="col-md-5">
            <div class="mb-3">
                {{ form.reminder_date.errors }}
                {{ form.reminder_date.label_tag }}
                {{ form.reminder_date }}
            </div>
            <div class="mb-3">
                {{ form.comment.errors }}
                {{ form.comment.label_tag }}
                {{ form.comment }}
            </div>


        </div>
    </div>

    <button type="submit" class="btn btn-primary">{% if is_editing %}Edit{% else %}Create{% endif %}</button>
      <a href="{% url 'services_list' %}" class="btn btn-danger">Cancel</a>
  </form>

{% endblock %}
{% block js %}
    <script>
$(document).ready(function() {
    var serviceTypes = JSON.parse('{{ service_types|escapejs|safe }}');
    function updateIcon() {
        var selectedServiceType = $("#id_service_type").val();
        var serviceType = serviceTypes.find(function(serviceType) {
            return serviceType.id == selectedServiceType;
        });
        if (serviceType) {
            var iconUrl = '/uploads/' + serviceType.icon;  // Добавляем начальный путь /uploads/
            $('#service-icon').attr('src', iconUrl);
        }
    }

    $('#id_service_type').change(updateIcon);

    // Обновляем иконку при загрузке страницы
    updateIcon();
});
$(document).ready(function() {
    var cars = JSON.parse('{{ cars|escapejs|safe }}');
    function updateCarCard() {
        var selectedCar = $("#id_car").val();
        var car = cars.find(function(car) {
            return car.id == selectedCar;
        });
        if (car) {
            $('#car_card').show();
            $('#car_photo').attr('src', car.car_photo);
            $('#car_title').text(car.title);
            $('#car_state_number').text(car.state_number);
            $('#car_car_mileage').text(car.car_mileage);
        } else {
            $('#car_card').hide();
        }
    }

    $('#id_car').change(updateCarCard);

    // Обновляем карточку автомобиля при загрузке страницы
    updateCarCard();
});
</script>
    {% endblock %}