{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row mb-3">
        <div class="col-md-2 mb-2"><a href="{% url 'notifications_create' %}" class="btn btn-primary">Add
            Notifications</a>
        </div>
        <div class="col-md-4">
            <form method="get" class="row">
                <div class="col-md-5 mb-2">
                    <select name="car_id" class="form-select" onchange="this.form.submit()">
                        <option value="">Choice Car</option>
                        {% for car in cars %}
                            <option value="{{ car.id }}"
                                    {% if car.id == selected_car_id %}selected{% endif %}>{{ car }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <input class="btn btn-success" type="submit" value="Reset" onclick="this.form.car_id.value=''">
                </div>
            </form>
        </div>
    </div>

     {% include 'partials/pagination.html' %}
    <div class="row">
{% for notification in object_list %}

    <div class="col-md-4 mb-3">
    <div class="card md-3">

  <div class="card-header">

      {% if notification.service_type %}
            <img src="{{ notification.service_type.icon.url }}" class="card-img-top" style="width: 30%" alt="...">
                    {% else %}
                    <img src="{% static 'images/def_service_icon.png' %}" class="card-img-top" style="width: 30%" alt="...">
        {% endif %}
   {{ notification.title }}
  </div>

  <div class="card-body">
    <h5 class="card-title">Car name: {{ notification.car }}</h5>
{% if notification.is_active %}
    <div class="card-text row">
    <p class="col">Reminder - {{ notification.reminder_date }} <br>Car mileage reminder - {{ notification.car_mileage_notifications }}km </p>
    <img class="col-6" src="{% static 'images/icon-alarm-clock-on.png' %}" alt="alarm" style="width: 20%"></div>
      {% else %}
        <div class="card-text row">
    <p class="col">Reminder - {{ notification.reminder_date }} <br>Car mileage reminder - {{ notification.car_mileage_notifications }}km </p>
    <img class="col-6" src="{% static 'images/icon-alarm-clock-off.png' %}" alt="alarm" style="width: 20%"></div>
{% endif %}
    <a href="{% url 'notifications_detail' notification.id%}" class="btn btn-primary">More info</a>
              {% if notification.turn_on %}
            <a href="{% url 'notification_turnoff' notification.id %}" class="btn btn-success">Turnoff</a>
            {% else %}
            <a href="#" class="btn btn-secondary disabled">Turnoff</a>
            {% endif %}
  </div>
</div>
    </div>


{% endfor %}
    </div>
{% endblock %}