{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">{{ notifications.title }}
                  {% if notifications.service_type %}
            <img src="{{ notifications.service_type.icon.url }}" class="card-img-top" style="width: 30%" alt="...">
                    {% else %}
                    <img src="{% static 'images/def_service_icon.png' %}" class="card-img-top" style="width: 30%" alt="...">
        {% endif %}
            </h5>
            <p class="card-text">{{ notifications.comment }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Car name: {{ notifications.car }}</li>
            <li class="list-group-item">Remind when running: {{ notifications.car_mileage_notifications }} km</li>
            <li class="list-group-item">Reminder date : {{ notifications.reminder_date }}</li>
            <li class="list-group-item">created at: {{ notifications.created_at }}</li>

            <li class="list-group-item">Reminder enabled: {% if notifications.is_active %}Yes{% else %}No{% endif %}</li>

        </ul>
        <div class="card-body">
            <a href="{% url 'notifications_update' notifications.id %}" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger deleteButton" data-bs-toggle="modal" data-bs-target="#deleteModal" data-car-id="{{ notifications.id }}">
  Delete
</button>
            {% if notifications.turn_on %}
            <a href="{% url 'notification_turnoff' notifications.id %}" class="btn btn-success">Turnoff</a>
            {% else %}
            <a href="#" class="btn btn-secondary disabled">Turnoff</a>
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this service?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="" class="btn btn-primary" id="confirmDelete">Delete</a>

      </div>
    </div>
  </div>
</div>
     {% block js %}
    <!-- jQuery to handle the delete confirmation -->
<script>
$(document).ready(function(){
  $('.deleteButton').on('click', function(){
       console.log("Delete button clicked");

        var carId = $(this).data('car-id');
        var url = "/notifications/delete/" + carId;
        console.log("Delete URL: ", url);
        $('#confirmDelete').attr('href', url);
  });
});
</script>
    {% endblock %}

{% endblock %}