{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>{% if is_editing %}Edit{% else %}Create{% endif %} Fuel Entry</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                <div class="mb-3">
                    {{ form.fuel_type.errors }}
                    {{ form.fuel_type.label_tag }}
                    {{ form.fuel_type }}
                </div>
                <div class="mb-3">
                    {{ form.car.errors }}
                    {{ form.car.label_tag }}
                    {{ form.car }}
                </div>
                <div class="mb-3" id="price_liter">
                    {{ form.price_per_liter.errors }}
                    {{ form.price_per_liter.label_tag }}
                    {{ form.price_per_liter }}
                </div>
                <div class="mb-3" id="fuel_vol">
                    {{ form.fuel_volume.errors }}
                    {{ form.fuel_volume.label_tag }}
                    {{ form.fuel_volume }}
                </div>
                <div class="mb-3" id="total_sum">
                    {{ form.total_amount.errors }}
                    {{ form.total_amount.label_tag }}
                    {{ form.total_amount }}
                </div>
                <div class="mb-3">
                    {{ form.car_mileage.errors }}
                    {{ form.car_mileage.label_tag }}
                    {{ form.car_mileage }}
                </div>
</div>
                          <div class="col-md-3">
             <div class="col-md-4" id="car_card" style="display: none">
                <div class="card mb-2" style="width: 18rem;">
                        <img id="car_photo" src="{% static 'images/def_icon.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" id="car_title"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" >Number - <span id="car_state_number"></span></li>
                        <li class="list-group-item">Car mileage - <span id="car_car_mileage"></span></li>
                    </ul>
                </div>
            </div>
          </div>
            </div>
                <button type="submit" class="btn btn-primary">{% if is_editing %}Edit{% else %}Create{% endif %}</button>
      <a href="{% url 'fuel_list' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>

    {% block js %}
        <!-- jQuery to handle the delete confirmation -->
        <script>
$(document).ready(function () {
    // Функция для расчета итоговой суммы
    function calculateTotal() {
        var pricePerLiter = parseFloat($('#id_price_per_liter').val());
        var fuelVolume = parseFloat($('#id_fuel_volume').val());

        if (!isNaN(pricePerLiter) && !isNaN(fuelVolume)) {
            var totalAmount = pricePerLiter * fuelVolume;
            $('#id_total_amount').val(totalAmount.toFixed(2));
        }
    }

    // Вызываем функцию при изменении значений
    $('#id_price_per_liter, #id_fuel_volume').on('input', calculateTotal);
});
$(document).ready(function() {
    var cars = JSON.parse('{{ cars|escapejs|safe }}');
    function updateCarCard() {
        var selectedCar = $("#id_car").val();
        var car = cars.find(function(car) {
            return car.id == selectedCar;
        });
        if (car) {
            $('#car_card').show();
            $('#car_photo').attr('src', car.car_photo);
            $('#car_title').text(car.title);
            $('#car_state_number').text(car.state_number);
            $('#car_car_mileage').text(car.car_mileage);
        } else {
            $('#car_card').hide();
        }
    }

    $('#id_car').change(updateCarCard);

    // Обновляем карточку автомобиля при загрузке страницы
    updateCarCard();
});
$(document).ready(function() {
    // Функция для проверки значения пробега
    function checkMileage() {
        var carMileage = parseInt($('#id_car_mileage').val());
        var carCarMileage = parseInt($('#car_car_mileage').text());

        if (carMileage < carCarMileage) {
            alert('The mileage cannot be less than the current mileage of the car!');
            $('#id_car_mileage').val(carCarMileage);
        }
    }

    // Проверяем значение пробега, когда поле теряет фокус, только если текст кнопки отправки формы равен "Create"
    $('#id_car_mileage').on('blur', function() {
        if ($('button[type="submit"]').text() === "Create") {
            checkMileage();
        }
    });
});
        </script>
    {% endblock %}
{% endblock %}