{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row mb-3">
        <div class="col-md-2 mb-2"><a href="{% url 'fuel_create' %}" class="btn btn-primary">Add </a></div>
        <div class="col-md-4">
            <form method="get" class="row">
                <div class="col-md-5 mb-2">
                    <select name="car_id" class="form-select" onchange="this.form.submit()">
                        <option value="">Choice Car</option>
                        {% for car in cars %}
                            <option value="{{ car.id }}"
                                    {% if car.id == selected_car_id %}selected{% endif %}>{{ car }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 mb-2">
                    <input class="btn btn-success" type="submit" value="Reset" onclick="this.form.car_id.value=''">
                </div>
            </form>
        </div>
    </div>
    {% include 'partials/pagination.html' %}
    <div class="container">
        <h2>Car Fuel History</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Car name</th>
                <th scope="col">Icon</th>
                <th scope="col">Fuel type</th>
                <th scope="col">Price per liter</th>
                <th scope="col">Fuel volume</th>
                <th scope="col">Total amount</th>
                <th scope="col">Car mileage</th>
                <th scope="col">AVG-100km</th>
                <th scope="col">Created at</th>
                <th scope="col">Is deleted</th>
                <th scope="col">btn</th>
            </tr>
            </thead>
            <tbody>
            {% for fuel in fuels %}
                <tr>
                    <td>{{ fuel.car }}</td>
                    <td style="width: 5%"><img src="{{ fuel.fuel_type.fuel_photo.url }}" style="width: 80%" alt=""></td>
                    <td>{{ fuel.fuel_type }}</td>
                    <td >{{ fuel.price_per_liter }}</td>
                    <td >{{ fuel.fuel_volume }} L</td>
                    <td >{{ fuel.total_amount }}</td>
                    <td>{{ fuel.car_mileage }} Km</td>
                <td>{{ fuel.average_fuel_consumption }} L</td>
                    <td>{{ fuel.created_at }}</td>
                    <td>{% if fuel.is_deleted %}Yes{% else %}No{% endif %}</td>
                    {% if not fuel.is_deleted %}
                        <td><a href="{% url 'fuel_update' fuel.id %}" class="btn btn-primary">Edit</a>
                            <button type="button" class="btn btn-danger deleteButton" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-car-id="{{ fuel.id }}">
                                Delete
                            </button>
                        </td>
                    {% else %}
                        <td><a href="#" class="btn btn-primary disabled">Edit</a>
                            <button type="button" class="btn btn-danger disabled deleteButton" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal" data-car-id="#">
                                Delete
                            </button>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No records found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this service?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="" class="btn btn-primary" id="confirmDelete">Delete</a>

                </div>
            </div>
        </div>
    </div>
    {% block js %}
        <!-- jQuery to handle the delete confirmation -->
        <script>
            $(document).ready(function () {
                $('.deleteButton').on('click', function () {
                    console.log("Delete button clicked");

                    var carId = $(this).data('car-id');
                    var url = "/fuels/delete/" + carId;
                    console.log("Delete URL: ", url);
                    $('#confirmDelete').attr('href', url);
                });
            });
            $(document).ready(function () {
                // Функция для расчета итоговой суммы
                function calculateTotal() {
                    var pricePerLiter = parseFloat($('#price_liter').text());
                    var fuelVolume = parseFloat($('#fuel_vol').text());
                    console.log('123')
                    if (!isNaN(pricePerLiter) && !isNaN(fuelVolume)) {
                        var totalAmount = pricePerLiter * fuelVolume;
                        $('#total_sum').text(totalAmount.toFixed(2));
                    }
                }

                // Вызываем функцию при загрузке страницы
                calculateTotal();

                // Вызываем функцию при изменении значений
                $('#price_liter, #fuel_vol').on('input', calculateTotal);
            });
        </script>
    {% endblock %}




{% endblock %}